<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div id="theCarousel" class="carousel slide" data-ride="carousel">
        <img class="logo" src="../assets/sw_logo.png">
        <div class="carousel-inner">
            <div class="item active">
                <div class="slide1">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"> </span>
        </a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"> </span>
        </a>
    </div>
</header>

<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/people">People</a>
</nav>
<router-outlet></router-outlet>