<html>

<head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<header>
    <div class="myclass" style="text-align:center" border="0px">
        <img src="../assets/sw_logo.png" />
    </div>
</header>

<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/people">People</a>
</nav>
<router-outlet></router-outlet>
<footer></footer>

</html>