body {
    height: 100%;
    background-color: #151515;
    width: 100%;
}

.myclass {
    background-image: url('../assets/bk.jpeg');
    background-size: 100% auto !important;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    padding: 60px;
}