<div *ngIf="film">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title"><b>Detalles de:</b> {{ film.title | uppercase }}</h5>
            <p class="card-text"><b>Titulo:</b>{{film.title}}</p>
            <p class="card-text"><b>Opening:</b> {{film.opening_crawl}}</p>
            <p class="card-text"><b>Director:</b> {{film.director}}</p>
            <p class="card-text"><b>Productor:</b> {{film.producer}}</p>
            <p class="card-text"><b>Fecha de lanzamiento:</b> {{film.release_date}}</p>
            <a href="#" class="btn btn-primary">Volver</a>
        </div>
    </div>

</div>